<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Final Project</title>
      
         <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

        <!-- Our CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
        
        <!-- Bootstrap CSS File -->
        <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      
      <!---Java--->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
      
      </head>

    <body id="body">  
        <!--Header Bar & Nav Icons-->
        <header id="header">
            <div class="container">
                <div id = 'logo' class ='pull-left'>
                    <h1><a href="#body" class="scrollto"></a>Final Project</a></h1>
                </div>
                <nav id="nav-menu-container">
                        <ul class="nav-menu">
                          <li class="menu-active"><a href="#body">Home</a></li>
                          <li><a href="#about">About Project</a></li>
                          <li><a href="#process">Process</a></li>
                          <li><a href="machinelearn.html">Machine Learning</a></li>
                          <li><a href="#analysis">Analysis</a></li>
                          <li><a href="#team">Team</a> </li>
                            </ul>
                    </div>           
                        </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </header><!-- #header -->

        <!--==========================Da
        Intro Section
        ============================-->
        <section id="intro">

        <div class="intro-content">
        <h2>Cancer + <span>Polution</span><br>Analysis</h2>
        <div>
            <a href="#about" class="btn-get-started scrollto">About</a>
            <a href="#analysis" class="btn-projects scrollto">Analysis</a>
        </div>
        </div>

        <div id="intro-carousel" class="owl-carousel" >
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
        
        </div>
        </section><!-- #intro -->
<!-- API Key -->
<script>
console.log("Hello!!!!")
</script>
<script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>
<div class="container">
 <div class="row">
   <div class="col-md-12 jumbotron text-center">
     <p>Select a Place, Gender, and Race</p>
   </div>
 </div>
 <div class="row">
   <div class="col-md-6">
     <div class="well">
        <div id="bar"></div>
       <select id="selState"></select>
       <select id="selGender"></select>
       <select id= "selRace"></select>
       <select id="selYear"></select>
       <button onclick = "displayResults()">submit</button>
       <div id ="displayResults"></div>

     </div>
   </div>  
 </div>  
</div>


        
        <!-- ==========================
        About Our Project
        ============================-->
        <section id="about" class="wow fadeInUp">
                    <div class="col-lg-6 content">
                      <h2>Comparing Pollution and Cancer Rates Across the US</h2>
                      <h3>For this project, we found data pollution data from the EPA and cancer incidence data from the CDC.</h3>
          
                      <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                      </ul>
          
                    </div>
                  </div>
          
                </div>
              </section><!-- #about -->

     
        
        

        <!--==========================
        ANALYSIS Cancer Incidence Over Year Section
        ============================-->
        <section id="about" class="wow fadeInUp">
            <div class="container">
            <div class="row">
                <div class="col-lg-6 about-img">
                <div id="graph1" alt="">
                </div>
    
                <div class="col-lg-6 content">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    
                <ul>
                    <li> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
    
                </div>
            </div>
    
            </div>
        </section><!-- #about -->

 
 <!-- The div that holds our map -->
 <div class="wrapper">
     <div class = "left" >
         <div id="Graph-id"></div>
     </div> 
     <div id = "right" >
         <div id="titles" >Race, Income, Age: </div>

        <!--==========================
        Pollution Over Year Section
        ============================-->
        <section id="about" class="wow fadeInUp">
                <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img">
                    <div id="graph2" alt="">
                    </div>
        
                    <div class="col-lg-6 content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                    <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
        
                    <ul>
                        <li> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    </ul>
        
                    </div>
                </div>
        
                </div>
            </section><!-- #about -->
   


</html>